.image_description {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    &--gray{
        background-color: #F8F8F8;
    }
    @include max('sm') {
        flex-direction: column;
        padding: 0;
    }
    &__img {
        width: 60%;
        height: 100%;
        position: relative;
        display: block;
        &--little{
            display: flex !important;
            justify-content: center;
            align-items: center;
            width: 40%;
            padding: 6em 0em;
            
        }
        @include max('sm') {
            width: 100%;
            height: 100%;
            &--little{
                padding: 0em;
            }
        }
        img {
            display: block;
            height: 50%;
            max-width: 100%;
            object-fit: cover;
            width: 100%;
            cursor: pointer;
            &:first-child {
                display: block;
            }
        }
    }
    &__info {
        border-left: 0;
        padding: 4em;
        width: 40%;
        &--background{
            background-color: $secondary;
        }
        @include max('sm') {
            width: 100%;
        }

        img {
            width: 220px;
            margin-bottom: 1em;
        }

        h2 {
            color: $primary;
            font-size: 2.5em;
            font-weight: 600;
            
            @include max('sm') {
                font-size: 1.7em;
            }
        }
        h4 {
            margin-bottom: 6px;
            @include max('sm') {
                font-size: 21px;
            }
        }
        h3 {
            margin-top: 0;
        }
        p {
            color: $secondary;
            line-height: 1.1em;
            font-size: 1.5em;
            margin: 0 0 6px 0;
            letter-spacing: 0.34px;
        }
        .text-color{
            color: $white;
        }
    }
}

.aliso-items {
    @include min('sm') {
        .image_description:nth-child(even) .image_description__info {
            order: 1;
        }
    }
    .image_description__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.button-schedule{
    position:fixed;
    z-index: 2000;
    bottom:40px;
    right: 40px;
    border-radius: 50px;
}



.hero-aliso {
    object-fit: contain !important;
    height: 90vh !important;
    @include max('sm'){
        display: none !important;
    }
}