.zones {
    display: flex;

    @include max('sm') {
        flex-direction: column;
    }

    &__description {
        width: 40%;
        padding: 5em;
        @include max('sm') {
            width: 100%;
            padding: 1em 5em;
        }
        h2 {
            color: $primary;
            font-weight: bold;
            font-size: 1.7em;
        }
        p {
            color: $secondary;
            font-size: 1.5em;
        }
    }

    &__list {
        padding: 2em;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        @include max('sm') {
            width: 100%;
        }
        
        &__item {
            display: flex;
            align-items: center;
            width: 32%;
            @include max('sm') {
                width: 100%;
                margin-bottom: 1em;
                margin-left: 3em;
            }
            img {
                width: 50px;
                margin-right: 1em;
            }

            span {
                color: $secondary;
                font-weight: normal;
            }
        }
    }
}

.zones-map {
    width: 100%;
    padding: 4em;
    background-color: #F8F8F8;
    img{
        width: 100%;
    }
    &--advertising{
        display: none;
    }
    &--color{
        background-color: white;
    }
    @include max('sm'){
        padding: 2em 1.5em;
        &--advertising{
            display: block;
        }
    }
}

.zones-banner{
    width: 100%;
    max-width: 100%;
    padding: 2em 2em;
    background-color: #F8F8F8;
    &__container{
        width: 90%;
        height: 700px;
        margin: 50px auto;
        position: relative;
        overflow: hidden;
        &--child{
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 100%;
            height: 100%;
            background-image: url('../../../assets/images/aliso/banner-aliso.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition: all .5s;
            &:hover{
                transform: scale(1.060);
            }
        }
    }
    &__overlay{
        width: 100%;
        height: 700px;
        opacity: .8;
        background-color: #17294B;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        
    }
    &__content{
        z-index: 1000;
        position: absolute;
        text-align: center;
        padding: 0em 5em;
        h1{
            color: $white;
            font-weight: bold;
            font-size: 4em;
        }
        h2{
            color: $white;
            font-size: 1.5em;
        }
    }
    @include max('sm'){
        padding: 2em 0em;
        
        &__container{
            height: 400px;
            margin: 0 auto;
        }
        &__content{
            padding: 0em 1em;
            h1{
                font-size: 1.5em;
            }
            h2{
                font-size: 1em;
            }
        }
    }
}
